%html
  %head
    %title
      = @title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  %header
    #top-header
      = image_tag('logo.png', :height => '150')
      .title Canada Vending Services 
      #nav-wrapper
        %nav.round
          %ul.round
            %li
              = link_to 'HOME', root_path
            |
            %li
              = link_to 'SERVICES', :controller => 'pages', :action => 'services'
            |
            %li
              = link_to 'PRODUCTS', :controller => 'pages', :action => 'products'
            |
            %li
              = link_to 'EQUIPMENT', :controller => 'pages', :action => 'equipment'
            |
            %li
              = link_to 'CONTACT', :controller => 'pages', :action => 'contact'
    #bottom-header
      .header_text
        %h1.head
          We install, service and maintain VENDING MACHINES in your location for FREE.
        %h1.orange
          Satisfaction guaranteed!
  %section
    #content
      #content-box
        %h2 
          Canada Vending Services -
          = @title
        =yield
  %footer

