%html
  %head
    %title
      = @title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  %header
    #top-header
      #header-container
        #logo
          = image_tag('logo.png', :height => '70')
          .title Canada Vending Services 
        #nav-wrapper
          %nav.round
            %ul.round
              %li
                = link_to 'HOME', root_path
              |
              %li
                = link_to 'SERVICES', 'services'
              |
              %li
                = link_to 'PRODUCTS', 'products'
              |
              %li
                = link_to 'EQUIPMENT', 'equipment'
              |
              %li
                = link_to 'CONTACT', :controller => 'contact', :action => 'new'
    #bottom-header
  %section
    #content
      #content-box
        %h2 
          Canada Vending Services -
          = @title
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}= value
        =yield
  %footer

